:root {
  --top: #151515;
  --top_text: #fff;
  --background: #fff;
  --contrast: #3c91e6;
  --text: #dddce2;
  --link: #db4d57;
  --success: #64c832;
  --icon: #adb5bd;
  --btn: #3498db;
  --btn_text: #000;
  --btn_hover: #2980b9;
  --border_clr: #8695ad;
}

@font-face {
  font-family: "Raleway";
  src: url(./Raleway-Regular.ttf);
}

body {
  position: relative;
  font-family: sans-serif;
  margin: 0;
  padding: 0;
}

#header {
  background-color: var(--top);
  color: var(--top_text);
  padding: 20px;
}

#header h1 {
  margin: 0;
  display: inline-block;
}

#header button {
  display: inline-block;
  float: right;
  padding-block: 0.3rem;
  font-size: 1.2rem;
  width: 130px;
  display: block;
  background-color: var(--btn);
  border: 1px;
  border-style: solid;
  border-radius: 5px;
  color: var(--btn_text);
  cursor: pointer;
}

#header button:hover {
  background-color: var(--btn_hover);
}

#hnm {
  cursor: pointer;
}

.content {
  overflow-x: scroll;
  font-family: 'Raleway', sans-serif;
  font-size: large;
  margin: 0.3rem;
  padding: 1rem;
  padding-right: 2rem;
  border-style: solid;
  border-width: 1px 1px 1px 1px;
  border-radius: 10px 10px 10px 10px;
  border-color: var(--border_clr);
  background-color: var(--background);
}

.content h1 {
  font-size: 1.5rem;
  margin-inline: 1rem;
}

.content p {
  margin-inline: 1rem;
}

#new-key {
  filter: blur(5px);
  margin-right: 2rem;
}

#new-key:hover {
  filter: blur(0px);
}

.content form {
  text-align: center;
}

.content form p {
  margin-bottom: 0px;
}

.content form input {
  text-align: center;
  margin: 0 auto;
  margin-top: 0.5rem;
  margin-bottom: 1.5rem;
  display: block;
  padding-block: 0.3rem;
  font-size: 1.2rem;
  width: 250px;
  border: 1px;
  border-style: solid;
  border-radius: 5px;
  border-color: var(--border_clr);
}

.content form button {
  text-align: center;
  margin: 0 auto;
  margin-block: 1.5rem;
  padding-block: 0.3rem;
  font-size: 1.2rem;
  width: 250px;
  display: block;
  background-color: var(--btn);
  border: 1px;
  border-style: solid;
  border-radius: 5px;
  border-color: var(--border_clr);
  color: var(--btn_text);
  cursor: pointer;
}

.content form button:hover {
  background-color: var(--btn_hover);
}

.content form button img {
  width: 20px;
  vertical-align: middle;
  height: 20px;
}

.content p strong {
  color: var(--link);
}

.notif[success="false"] {
  color: var(--link);
}

.notif[success="true"] {
  color: var(--success);
}

footer {
  position: absolute;
  width: 100%;
  margin-top: auto;
  padding-block: 1.5rem;
  background-color: var(--top);
  font-size: 0.8rem;
  text-align: center;
}

.footer-el {
  display: inline-block;
  text-align: center;
  text-decoration: none;
  vertical-align: middle;
  color: var(--top_text);
  padding-inline: 1.5rem;
  padding-block: 1rem;
}

.footer-el:hover {
  text-decoration: underline;
}

.footer-el-l {
  display: inline-block;
  text-align: center;
  text-decoration: none;
  vertical-align: middle;
  color: var(--top_text);
  padding-inline: 1rem;
  padding-block: 1rem;
}
